<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>

<body>
  <header class=" bg-black pading-1a">
    <div class="container flex justify-between">
      <a href="/" class="color-white text-shadow">Home</a>
      <a href="/users/new"><button class="btn">New Event</button></a>
    </div>
  </header>
  <!-- main -->
  <main>
    <section class="bg-dark">
      <div class="container height-90vh flex justify-center align-center flex-mq flex-colum-mq ">

        <div class="width-50  heigth-80 flex  justify-center align-center flex-direction-column width-100-mq ">
          <a href="/users"><button class="btn button font-size box-shadow">Go to Event page</button></a>
        </div>

        <figure class="width-50  heigth-80 width-80-mq ">
          <img class="full-width"
            src="/images/kisspng-child-reading-clip-art-student-5a6c14af04cd62.7956832515170326230197.png" alt="">
        </figure>

      </div>
    </section>
  </main>
  <!-- footer -->
  <footer class="bg-black pading-1a">
    <section class="container color-white text-center text-shadow">
      <small>
        Copyright ©2022 All rights reserved | This template is made with 💚 by
        Naresh Rajput
      </small>
    </section>
  </footer>
</body>

</html>